#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.game-and-ui-wrapper {
  position: relative;
}

.game-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
}

.game-ui .ui-item {
  margin: 15px 15px;
}
